:root {
  box-sizing: border-box;
  --primary-black: #020617;
  --primary-white: #f8fafc;
  --primary-gray: #94a3b8;
  --light-green: #9fff9c;
  --light-red: #ff9c9c;
  --border-radius: 8px;
  --btn-padding: 12px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifF;
  background-color: var(--primary-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-white);
  border-bottom: 1px solid var(--primary-black);
}

.logo a {
  font-size: 2rem;
  color: var(--primary-black);
  font-weight: bold;
}

.btn {
  border-radius: var(--border-radius);
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  padding: var(--btn-padding);
  transition: 0.1s ease-in-out;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  filter: brightness(95%);
}

#add-btn {
  color: var(--primary-black);
  background-color: var(--primary-white);
  font-weight: bold;
}

.main {
  padding: 1em;
  flex: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 25px;
}

.footer {
  margin-top: auto;
  text-align: center;
  background-color: var(--primary-white);
}

footer,
footer a {
  color: var(--primary-gray);
}

.footer-links a:hover {
  color: var(--primary-black);
  text-decoration: underline;
}

dialog {
  border-radius: var(--border-radius);
  border: none;
}

#add-form {
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-wrap: wrap;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  color: var(--primary-black);
  font-size: 10px;
  letter-spacing: 3px;
}

input {
  padding: 1em;
  border-radius: 8px;
  border: 1px solid var(--primary-gray);
}

/* book card */
.book-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background-color: white;
  border-radius: var(--border-radius);
}

.book-title {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 500;
}

.book-author {
  font-size: 1.125rem;
}

.book-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#book-status {
  background-color: var(--light-red);
}